/.DS_Store
/.env
/.env.local

day2/node_modules
day2/.env
day2/.env.local
day2/package-lock.json
day2/request.log

day1/node_modules
day1/.env
day1/.env.local
day1/package-lock.json


short_url/node_modules
short_url/.env
short_url/.env.local
short_url/package-lock.json
short_url/request.log


demo-upload/node_modules
demo-upload/.env
demo-upload/.env.local
demo-upload/package-lock.json
demo-upload/request.log
demo-upload/src/uploads


blogy/node_modules
blogy/.env
blogy/.env.local
blogy/package-lock.json
blogy/request.log
blogy/src/uploads
